<div class="banner">
	<div class="container-fluid clearspace">		
		<div class="banner-top row clearspace">
			<div class="banner-top-title">
				<a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/banner-title.png"></a>
			</div>
			<div class="banner-top-nav"><a href="#">ADVICE</a></div>
			<div class="banner-top-nav banner-top-nav-first"><a href="{{site.baseurl}}">HOME</a></div>
		</div>
	</div>
	<div class="container-fluid clearspace">
		<div class="row clearspace">
			<div class="banner-body">进阶之路漫漫</div>
		</div>
		<div class="row clearspace">
			<div class="banner-mode"></div>
		</div>	
	</div>
</div>