<div class="foot">
	<div class="foot-plate">
		<div class="foot-plate-head">
			几米漫画集
		</div>
		<div class="foot-plate-body">
			其实我很好，只是会偶尔难受一下，只是会在某一瞬间突然很想某个人，只是会在听到某一句熟悉的话时很难过 ；有些人出现了，又走了。然后一切回归原点，只是多了一份沉甸甸的回忆。
		</div>
	</div>
	<div class="foot-plate add_border">
		<div class="foot-plate-head">
			联系方式
		</div>
		<ul>
			<li>QQ:995825700</li>
			<li>email:zyw13579@qq.com</li>
			<li>sina微博:<a href="http://weibo.com/u/1861185280">百年佛一__曼巴_屎维</a></li>
		</ul>
	</div>
	<div class="foot-plate">
		<div class="foot-plate-head">
			我要分享
		</div>
		<div class="foot-plate-icons">
			<a href="#"><span class="qzone"> </span></a>
			<a href="#"><span class="pyquan"> </span></a>
			<a href="#"><span class="weibo"> </span></a>				 			 
		</div>
	</div>
</div>